---
---

<p class="proiuro-logo">Proiuro</p>

<style>
	.proiuro-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
		color: inherit;
	}
	.-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
